html
	head
		title Rocky VII

		link(rel='stylesheet',href='/styles.css')
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
		link(rel='stylesheet',href='http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
	body
		select
			option(value="2") 2 Player Game
			option(value="1") 1 Player Game
		.container1
			h1 Time Left:
			h2 Score: 
		.container2
			.header
				h2 Player 1 health	
				img.gear.p1(src='/settings.svg')
			.progress
				.progress-bar.progress-bar-striped.progress-bar-success.play1(role="progressbar" style="width: 100%")
			.header
				h2 Player 2 health	
				img.gear.p2(src='/settings.svg')
			.progress
				.progress-bar.progress-bar-striped.progress-bar-success.play2(role="progressbar" style="width: 100%")
		.buttons
			button.start Start
			button.reset Reset
		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
		script(type='text/javascript').
			var choice = function(x){
			console.log(x);
				if(x==2){
					$(".container1").hide();
					$(".container2").show();
				}
				if(x==1){
					$(".container2").hide();
					$(".container1").show();
				}
			}
			$("select").change(function(){
				var x = this.value;
				choice(x);
				});
			$("select").trigger("change");


			$(".p1").click(function(){
				var weight = prompt("What's your weight in pounds?");
				var x = {};
				x.p1weight = weight;
				$.post("/weight",x);//'{"p1weight":"'+weight+'"}'));
				});
			$(".p2").click(function(){
				var weight = prompt("What's your weight in pounds?");
				var x = {};
				x.p2weight = weight;
				$.post("/weight",x);
				});
			$(".start").click(function(){
				var x = {};
				x.game = $("select").val();
				$.post("/start",x);
				})

			var rhost = "/reset";
			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-center",
				"preventDuplicates": true,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "300",
				"timeOut": "1000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
			var gover = false;
			$(".reset").click(function(){
				$.get(rhost,function(){
				console.log("reset sent");
				gover = false;
				toastr.info("Health Reset");
				})
			});
			var bool = function(x){
				if(x=="true")
					return true;
				return false;
			}
			var update = function(){
				if($("select").val()=="2")
					updateHealth();
				else
					updateScore();
			}
			var updateScore = function(){
				$.getJSON("/sstatus",function(data){
					$(".container1 h1").html("Time Left: "+data.time);
					console.log(data.score);
					$(".container1 h2").html("Score: "+data.score);
					})
				if(!(bool(data.sync1r)&&bool(data.sync1l)))
					toastr.warning("Player 1 is not ready");
			}
			var updateHealth = function(){
				$.getJSON("/status",function(data){
						if(data.health1<0){
							gover = true;
							toastr.info("Player 2 Won!!!");
							//alert("Player 2 Won!!!");
						}
						if(data.health2<0){
							gover = true;
							toastr.info("Player 1 Won!!!");
							//alert("Player 1 Won!!!");
						}
					var h1 = String(data.health1/10)+"%";
					//console.log(h1);
					var h2 = String(data.health2/10)+"%";
					$(".play1").css("width",h1);
					$(".play2").css("width",h2);
					if(!(bool(data.sync1r)&&bool(data.sync1l)&&bool(data.sync2l)&&bool(data.sync2r)))
						;//toastr.warning("A Myo is not ready");
					});
			}
			setInterval(update,50);
