html
	head
		title Rocky VII

		link(rel='stylesheet',href='/styles.css')
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
		link(rel='stylesheet',href='http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
	body
		audio#punch(src="/sounds/dhshoom.wav",type="audio/wav")
		audio#block(src="/sounds/nope.wav",type="audio/wav")
		.container1
			table
				tr
					td Weight(lb)
					td.weightIn
						input.weightIn(type="text",value="100")
				tr
					td Time Left
					td.tleft
				tr
					td Score
					td.score
				tr
					td Calories Burned 
					td.cal
				tr
					td Punches Thrown
					td.punchNum
		.container2
			.header
				h2 Player 1 health	
				img.gear.p1(src='/settings.svg')
			.progress
				.progress-bar.progress-bar-striped.progress-bar-success.play1(role="progressbar" style="width: 100%")
			.header
				h2 Player 2 health	
				img.gear.p2(src='/settings.svg')
			.progress
				.progress-bar.progress-bar-striped.progress-bar-success.play2(role="progressbar" style="width: 100%")
		.buttons
			button.switch Switch
			button.start Start
			button.reset Reset
		div.punch
		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
		script(type='text/javascript').

			var toggleG = function(){
				$(".container1").toggle();
				$(".container2").toggle();
				if(game==1)
					game=2;
				else
					game=1;
			}
			var game = 1;
			$(".container2").toggle();
			$(".switch").click(toggleG);




			$(".p1").click(function(){
				var weight = prompt("What's your weight in pounds?");
				var x = {};
				x.p1weight = weight;
				$.post("/weight",x);//'{"p1weight":"'+weight+'"}'));
				});
			$(".p2").click(function(){
				var weight = prompt("What's your weight in pounds?");
				var x = {};
				x.p2weight = weight;
				$.post("/weight",x);
				});
			$(".start").click(function(){
				var x = {};
				x.game = game;
				$.post("/start",x);
				})

			var rhost = "/reset";
			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-center",
				"preventDuplicates": true,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "300",
				"timeOut": "1000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
			var gover = false;
			$(".reset").click(function(){
				$.get(rhost,function(){
				console.log("reset sent");
				gover = false;
				toastr.info("Health Reset");
				})
			});
			var bool = function(x){
				if(x=="true")
					return true;
				return false;
			}
			var update = function(){
				if(game==2)
					updateHealth();
				else
					updateScore();
			}
			var mpunchNum = 0;
			var mbnum = 0;
			var updateScore = function(){
				$.getJSON("/sstatus",function(data){
					$(".tleft").html(data.time);
					$(".score").html(data.score);
					var pnum = Number(data.punchNum);
					if(pnum!=mpunchNum){
						//play punch noise
						if(pnum>mpunchNum)
							document.getElementById("punch").play();

						mpunchNum = pnum;
					}
					$(".punchNum").html(data.punchNum);
					$(".punch").html(data.type);
					var mass = Number($("input.weightIn").val())*.454;//kg
					var ke = Math.pow(Number(data.score),2)*.5*mass;//joules
					var cals = ke*.239005736*.001;
					var mass_in_swing = 1;
					var efFactor = 7.68*Math.pow(10,-5);
					$(".cal").html(cals*mass_in_swing*efFactor);
					if(!(bool(data.sync1r)&&bool(data.sync1l)))
						toastr.warning("Player 1 is not ready");
					});
				
			}
			var updateHealth = function(){
				$.getJSON("/status",function(data){
					
					var pnum = Number(data.punchNum);
					var bnum = Number(data.blockNum)
					if(pnum!=mpunchNum){
						
						if(bnum!=mbnum){
							if(bnum>mbnum)
								document.getElementById("block").play();
							mbnum = bnum;
						}
						else{
							//play punch noise
							if(pnum>mpunchNum)
							document.getElementById("punch").play();
						}
						mpunchNum = pnum;
					}
						if(data.health1<0){
							gover = true;
							toastr.info("Player 2 Won!!!");
							//alert("Player 2 Won!!!");
						}
						if(data.health2<0){
							gover = true;
							toastr.info("Player 1 Won!!!");
							//alert("Player 1 Won!!!");
						}
					var h1 = String(data.health1/10)+"%";
					//console.log(h1);
					var h2 = String(data.health2/10)+"%";
					$(".play1").css("width",h1);
					$(".play2").css("width",h2);
					if(!(bool(data.sync1r)&&bool(data.sync1l)&&bool(data.sync2l)&&bool(data.sync2r)))
						toastr.warning("A Myo is not ready");
						;
					});
			}
			setInterval(update,50);
