.container2 h2{
	font-size:5vh;
	display:block;
}
.container2 .progress{
	height:7vh;
}

.gear{
	display:inline;
	height: 50%;
}
.header h2{
	display:inline;
}
.header{
	display:block;
	height:10vh;
}

.buttons{
	width:50%;
	margin:auto;
}
.buttons button{
	width:28%;
	margin:5px;
}
table{
	width:50%;
	font-weight:bold;
	font-size:1.5em;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
}
table tr{
	padding .5em;
}


